@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

body {
    background-color: #e6e6fa;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #8C92AC;
    margin: 150px auto;
    width: 400px;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    background-color: #f0f8ff;
    height: 120px;
    margin: 50px 22px 22px 22px;
    border-radius: 5px;
    border: 3px solid #e6e6fa;
    color: #d7a2e8;
    font-size: 25px;
    padding: 10px 15px;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: 2px 2px;
}

.buttons {
    padding: 15px 0 0 0;
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

button {
    background-color: #f0f8ff;
    border-radius: 50px;
    border: 3px solid #e6e6fa;
    box-shadow: 2px 2px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: .4s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #d7a2e8;
    color: white;
    transform: scale(1.1);
}